



@media (min-width: 769px) {
  .eventForm {
    flex-flow: row wrap;
    justify-content: space=between;
  }
  .eventForm input {
    width: 40%;
    margin: auto;
  }
  .eventForm button {
    width: 100%;
    margin: auto;
  }
}
